<app-navbar (search)="onSearch($event)"></app-navbar>
<div class="flex flex-col gap-10 mt-5">
  <h2 class="text-3xl text-center">Popular Movies</h2>
  <div class="flex flex-wrap gap-10 justify-center">
    @if (movies$ | async; as movies) {
      @if (movies && movies.length > 0) {
        @for (movie of movies; track movie.id) {
          <div>
            <figure>
              <img
                [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
                [alt]="movie.title"
                width="250"
                height="400"
              />
            </figure>
            <h3>{{ movie.title }}</h3>
            <p>{{ movie.release_date }}</p>
          </div>
        }
      } @else {
        <p>No movies found.</p>
      }
    } @else {
      <p>Loading movies...</p>
    }
  </div>
</div>
