<app-navbar></app-navbar>
<div class="flex flex-col gap-15 mt-10 m-5">
  <h2 class="text-4xl text-center">Top Movies Ratings</h2>
  <div class="flex flex-wrap gap-10 justify-center">
    @if (movies$ | async; as movies) {
      @if (movies && movies.length > 0) {
          <table class="table-auto border-collapse w-full">
            <thead class="bg-violet-500">
              <tr class="border-b-2 bg-violet-500">
                <th class="px-6 py-3 text-center text-white">Position</th>
                <th class="px-6 py-3 text-center text-white">Title</th>
                <th class="px-6 py-3 text-center text-white">Release Date</th>
                <th class="px-6 py-3 text-center text-white">Rating</th>
              </tr>
            </thead>
            <tbody>
              @for (movie of movies; track movie.id) {
                <tr [routerLink]="['/movies', movie.id]" class="border-b border-gray-200 hover:bg-gray-50">
                  <td class="px-6 py-4 text-center">{{$index + 1}}</td>
                  <td class="px-6 py-4 text-center">{{movie.title}}</td>
                  <td class="px-6 py-4 text-center">{{movie.release_date}}</td>
                  <td class="px-6 py-4 text-center">{{movie.vote_average}}</td>
                </tr>
              }
            </tbody>
          </table>
        } @else {
          <p>No movies found.</p>
        }
      } @else {
        <p>Loading movies...</p>
      }
  </div>
</div>
